<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحة التعدين</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>نتائج عملية التعدين</h1>
        <p><strong>Nonce:</strong> <span id="nonce">{{ block['nonce'] }}</span></p>
        <p><strong>Hash:</strong> <span id="hash">{{ block['hash'] }}</span></p>
        <p><strong>الوقت المستغرق:</strong> <span id="timeTaken">{{ time_taken }}</span> ثواني</p> 
    </div>
    <script src="static/js/script.js"></script>
</body>
</html>
